<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crud Java - Angular</title>
</head>
<body>

  <!-- Navbar styles -->
  <nav class="nav d-flex  mh-25 p-3 " >
    <div class="d-flex flex-row justify-content-center">
      
      <div class="d-flex align-items-center">
        <h4 class="text-white">Crud con Java y Angular</h4>
      </div>
      
    </div>
    
  </nav>
  <!-- end navbar styles -->

  <main class="d-flex flex-column p-3 align-items-center" style="height: 50vw">
    <div>
      <h4>Lista de Usuarios</h4>
    </div>

    <div class="d-flex justify-content-center w-100 p-3" style="height: 35vw;" >

    
      <div class="d-flex flex-column justify-content-between w-75 p-3">
        <div>
          <table class="table table-bordered  h-50">
            <thead>
              <tr>
                <th scope="col">Identificación</th>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>
                <th scope="col" colspan="2">Acción</th> 
              </tr>
            </thead>
            <tbody *ngFor="let users of listUsers">
              <tr>
                <th scope="row">
                  {{ users.identificacion }}
                </th>
                <td>
                  {{ users.nombre }}
                </td>
                <td>
                  {{ users.telefono }}
                </td>
                <td> 
                  <button class="bg-white" type="button" (click)="modal.open(updateModal)" (click)="fillFields(users)" style="border:none; width: 25%;"> 
                    <img  src="../assets/img/editIcon.png" alt="editIcon" width="100%">
                  </button>
                </td>
                <td>
                  <button class="bg-white" type="button" (click)="delUser(users.identificacion)" style="border:none; width: 25%;"> 
                    <img  src="../assets/img/delIcon.png" alt="editIcon" width="100%">
                  </button>
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex align-items-center w-50"  >
        
          <button class="m-3 btn btn-primary w-50 text-wrap" type="button" (click)="modal.open(createModal)"  style="border:none; width: 25%;"> 
            Crear Usuario
          </button>

        </div>
      </div>

    </div>

  </main>

  <!-- Modal Create User -->
  <ng-template #createModal let-modal >
    <section class="p-3">
      <div class="d-flex justify-content-between">  
        <h5>Añadir</h5>
        <div>
          <button class="btn btn-outline-danger btn-sm" type="submit" (click)="modal.dismiss()">Cerrar</button>
        </div>
      </div>
      <div class="modal-body">
        <div>
          <form [formGroup]="userAddForm" (ngSubmit)="addUser()">
            <label>Nuevo Usuario</label>
            <div class="m-4">
              <input  type="email" class="form-control" formControlName="identificacion"  placeholder="Identificación">
            </div>
            <div class="m-4">
              <input type="email" class="form-control" formControlName="nombre"  placeholder="Nombre">
            </div>
            <div class="m-4">
              <input type="email" class="form-control" formControlName="telefono"  placeholder="Telefono">
            </div>

            <div class="modal-footer">

              <button type="submit" class="btn btn-primary" (click)="modal.close()">Añadir</button>
      
            </div>
          </form>
        </div>
      </div>

      
    </section>
  </ng-template>

  <!--  End  Modal HTML -->

  <!-- Modal Update User -->
  <ng-template #updateModal let-modal >
    <section class="p-3">
      <div class="d-flex justify-content-between">  
        <h5>Actualizar</h5>
        <div>
          <button class="btn btn-outline-danger btn-sm" type="submit" (click)="modal.dismiss()">Cerrar</button>
        </div>
      </div>
      <div class="modal-body">
        <div>
          <form [formGroup]="userUpdForm" (ngSubmit)="updUser()">
            <label>Actualizar Usuario</label>
            <div class="m-4">
              <input  type="email" class="form-control" formControlName="uIdentificacion"  placeholder="Identificación" readonly>
            </div>
            <div class="m-4">
              <input type="email" class="form-control" formControlName="uNombre"  placeholder="Nombre">
            </div>
            <div class="m-4">
              <input type="email" class="form-control" formControlName="uTelefono"  placeholder="Telefono">
            </div>

            <div class="modal-footer">

              <button type="submit" class="btn btn-primary" (click)="modal.close()">Actualizar</button>
      
            </div>
          </form>
        </div>
      </div>

      
    </section>
  </ng-template>
  <!-- End Modal User -->


</body>
</html>


